__pycache__
wav2vec/
cp_hifigan
LJSpeech/LJSpeech-1.1/wavs
LJSpeech-1.1/wavs/**
train_files/wavs/**
test_files/**
checkpoint*/**
**.pyc
LibriTTS/
LibriSpeech/
Speaker_embeddings*/
Concat_ssl*/
LibriSpeech_o*/
LJSpeech*
generated_files*/**
wav2vec*/**
old generated*/**
test_concat_pt/**
test_files_C*/**
test_files_c_LJ*/**
Nvidia-out*/**
Post-controlled*/**
